* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 100%;
    font-family: 'Open Sans', sans-serif;
    color: #FFFFFF;
}

body {
    font-size: 14px;
}

a {
    color: #5cb2e4;
    text-decoration: none;
}

.page {
    position: relative;
    display: block;
    min-height: 0;
    min-width: 0;
    padding: auto 10px;
}

.page-container {
    position: relative;
    display: block;
    min-height: 0;
    min-width: 0;
}

.profile-top-container {
    position: relative;
    max-width: 600px;
    background-color: #23272A;
}

.header-photo {
    position: relative;
    display: block;
}

.header-photo img {
    position: relative;
    display: inline-block;
    max-width: 100%;
    height: auto;
}

.profile {
    margin: 0;
    padding: 20px;
    position: relative;
    display: block;
    border-bottom: 2px solid #2C2F33;
}

.prof-pic-and-buttons-row {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 5px;
}

.prof-pic {
    position: relative;
    display: block;
    overflow: hidden;
    width: 70px;
    height: 70px;
    margin: -57px 0;
}

.prof-pic img {
    display: inline-block;
    position: relative;
    margin: 0 auto;
    height: 100%;
    width: auto;
    cursor: pointer;
    inset: 0;
}

.buttons {
    position: relative;
    display: flex;
    font-size: 10.5px;
}

.button {
    position: relative;
    display: block;
    cursor: pointer;
}

.button a {
    position: relative;
    display: inline-block;
    text-decoration: none;
}

.button .follow {
    background-color: #808080;
    padding: 5px 10px;
    border-radius: 3px;
    margin-right: 15px;
}

.button .message {
    background-color: #3cb371;
    padding: 5px 10px;
    border-radius: 3px;
    margin-right: 7px;
}

.button a div {
    margin-top: -4px;
}

.button a .more {
    font-weight: 600;
    font-size: 12px;
    height: 27px;
    color: #808080;
}

.username {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}

.username span {
    position: relative;
    display: inline-block;
    font-size: 16px;
    margin-right: 5px;
    font-weight: 600;
    letter-spacing: 1px;
}

.username img {
    position: relative;
    display: inline-block;
    height: 100%;
    margin-top: 5px;
}

.hashtagNumber {
    position: relative;
    font-size: 14px;
    color: #808080;
}

.badges {
    position: relative;
    display: block;
    margin: 10px 0;
}

.bio {
    position: relative;
    display: block;
    margin: 10px 0;
}

.bio span {
    position: relative;
    display: block;
    color: #dadada;
}

.location-link-bday-joined {
    margin: 10px 0;
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-basis: auto;
    justify-content: start;
}

.location-link-bday-joined div {
    position: relative;
    display: inline-block;
    margin-right: 15px;
}

.location-link-bday-joined div span {
    position: relative;
    display: inline-block;
    line-height: 18px;
    font-size: 13px;
    color: #808080;
}

.location-link-bday-joined div img {
    position: relative;
    display: inline-block;
    height: 18px;
    line-height: 18px;
    margin-right: 2px;
    vertical-align: middle;
}

.location {
    cursor: pointer;
}

.following-follower {
    position: relative;
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}

.following-follower div {
    position: relative;
    display: block;
    margin-right: 20px;
    font-size: 12px;
}

.follow-number {
    position: relative;
    display: inline-flex;
    font-weight: 600;
    color: #dadada;
    background-color: #D7443E;
    margin-right: 5px;
    padding: 0 6px;
    border-radius: 15px;
}

.follow-text {
    position: relative;
    display: inline-flex;
    color: #dadada;
}

.profile-tweets-tabs {
    padding: 0 20px;
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    overflow: hidden;
}

.profile-tweets-tabs .tab-button {
    position: relative;
    display: block;
    background-color: inherit;
    border: none;
    outline: none;
    cursor: pointer;
    text-align: center;
    color: #dadada;
    font-weight: 600;
    letter-spacing: 0.5px;
    padding: 15px 5px;
}

.tab-button:hover {
    background-color: #7289da7e;
}

.tab-button.active {
    color: #7289DA;
    border-bottom: 2px solid #7289DA;
}

.tab-content {
    position: relative;
    display: block;
    max-width: 600px;
    margin-bottom: 50px;
    /* add margin because of the bottom nav bar */
    background-color: #2C2F33;
}

.tweet {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-basis: auto;
    align-items: stretch;
    overflow: hidden;
    padding: 20px;
    border-bottom: 1px solid #808080;
}

.tweet.reply {
    position: relative;
    display: block;
    padding-bottom: 0;
    border: 0;
}

.tweet-profile-pic {
    cursor: pointer;
    position: absolute;
    display: flex;
    justify-content: start;
    flex-direction: column;
    overflow: hidden;
    width: 40px;
    height: 100%;
}

.tweet-profile-pic div {
    position: relative;
    display: inline-block;
    padding-bottom: 10px;
    height: auto;
    width: 100%;
}

.tweet-profile-pic img {
    position: absolute;
    display: block;
    width: 100%;
    height: auto;
    border-radius: 50%;
    inset: 0;
}

.tweet-profile-pic .replying-icon-line {
    position: relative;
    display: block;
    align-items: stretch;
    flex-grow: 1;
    margin: 40px auto 0 auto;
    width: 2px;
    background-color: #808080;
}

.replying-to {
    color: #808080;
}

.replying-to:before {
    content: "Replying to ";
}

.tweet-content {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: left;
    margin-left: 50px;
}

.tweeter-info {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.tweeter-info span {
    position: relative;
    display: inline-block;
    line-height: 20px;
    margin-right: 5px;
}

.name {
    font-weight: 600;
    letter-spacing: 1px;
}

.hashtag, .separator, .date-sent {
    color: #808080;
}

.tweet-text {
    position: relative;
    display: block;
    margin: 10px 0;
}

.quoted.tweet-pic {
    margin: 0;
}

.tweet-pic {
    position: relative;
    display: block;
    margin: 10px 0;
}

.tweet-pic img {
    position: relative;
    display: block;
    border-radius: 15px;
    width: 100%;
    height: 100%;
}

.tweet-interact {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: 5px 0;
}

.interaction {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 2px 2px 2px 7px;
    margin-right: 10px;
    border-radius: 5px;
    background-color: #4b4b4b8e;
}

.clicked {
    background-color: #7289da4b;
}

.clicked .interact-number {
    color: #7289da;
}

.interaction img {
    position: relative;
    display: inline-block;
    margin-right: 5px;
    height: 18px;
    line-height: 18px;
    vertical-align: middle;
}

.interaction span {
    position: relative;
    display: inline-block;
    margin-right: 5px;
    height: 18px;
    font-size: 13px;
    color: #dadada;
}

.quote-tweet {
    position: relative;
    display: block;
    margin: 10px 0;
}

.quote-tweet-content {
    position: relative;
    display: block;
    border-radius: 15px;
    border: 1px solid #4b4b4b;
    padding: 10px;
}

.quote-tweet-content img {
    position: relative;
    display: block;
    border-radius: 15px;
    border: 1px solid #4b4b4b;
    padding: 0;
}

.quote-prof-pic-tweeter-info {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-bottom: 5px;
}

.quote-prof-pic-tweeter-info img {
    height: 20px;
    margin-right: 5px;
}

.quote-prof-pic-tweeter-info span {
    display: inline-block;
    position: relative;
    line-height: 20px;
    margin-right: 5px;
}

.nav-bar-bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    bottom: 0;
    min-height: 0;
    min-width: 0;
    max-width: 600px;
    width: 100%;
    height: 51px;
    padding: 0 10px;
    background-color: #23272A;
}

.nav-bar-bottom a {
    position: relative;
    display: inline-block;
    margin: auto;
}

.nav-bar-bottom a img {
    position: relative;
    display: block;
    padding: 10px;
}