* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 100%;
    font-family: 'Open Sans', sans-serif;
    color: #FFFFFF;
}

body {
    font-size: 14px;
}

a {
    color: #5cb2e4;
    text-decoration: none;
}

.page {
    position: block;
    min-height: 100%;
    padding: auto 10px;
}

.page-container {
    position: block;
    min-height: 100%;
}

.profile-top-container {
    max-width: 600px;
    background-color: #23272A;
}

.header-photo {
    position: relative;
}

.header-photo img {
    max-width: 100%;
    height: auto;
}

.profile {
    margin: 0;
    padding: 20px;
    display: block;
    position: relative;
    border-bottom: 2px solid #2C2F33;
}

.prof-pic-and-buttons-row {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 5px;
}

.prof-pic {
    position: relative;
    overflow: hidden;
    width: 70px;
    height: 70px;
    margin: -57px 0;
}

.prof-pic img {
    cursor: pointer;
    display: inline;
    margin: 0 auto;
    height: 100%;
    width: auto;
    inset: 0;
}

.buttons {
    display: flex;
    font-size: 0.75em;
}

.button {
    cursor: pointer;
    display: block;
}

.button a {
    position: relative;
    display: inline-block;
    text-decoration: none;
}

.button .follow {
    background-color: #808080;
    padding: 5px 10px;
    border-radius: 3px;
    margin-right: 15px;
}

.button .message {
    background-color: #3cb371;
    padding: 5px 10px;
    border-radius: 3px;
    margin-right: 7px;
}

.button a div {
    margin-top: -4px;
}

.button a .more {
    font-weight: 600;
    font-size: 1.5em;
    height: 27px;
    color: #808080;
}

.username {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}

.username span {
    display: inline-block;
    font-size: 1.2em;
    margin-right: 5px;
    font-weight: 600;
    letter-spacing: 0.05em;
}

.username img {
    display: inline-block;
    height: 100%;
    margin-top: 5px;
}

.hashtagNumber {
    font-size: 1em;
    color: #808080;
}

.badges {
    margin: 10px 0 0 0;
}

.bio {
    margin: 10px auto;
}

.bio span {
    color: #dadada;
}

.location-link-bday-joined {
    margin: 10px auto;
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.location-link-bday-joined div {
    display: inline-block;
    position: relative;
    margin-right: 15px;
}

.location-link-bday-joined div span {
    display: inline-block;
    font-size: 13px;
    color: #808080;
}

.location-link-bday-joined div img {
    margin-right: 2px;
    vertical-align: text-bottom;
}

.location {
    cursor: pointer;
}

.following-follower {
    position: relative;
    display: flex;
}

.following-follower div {
    margin-right: 20px;
    font-size: 12px;
}

.follow-number {
    font-weight: 600;
    color: #dadada;
    background-color: #D7443E;
    margin-right: 5px;
    padding: 0 6px;
    border-radius: 15px;
}

.follow-text {
    color: #dadada;
}

.profile-tweets-nav {
    padding: 0 20px;
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.profile-tweets-nav .nav-tab {
    cursor: pointer;
    display: block;
    padding: 20px 0;
}

.nav-tab .tab-title {
    color: #dadada;
}

.active {
    border-bottom: 2px solid #7289DA;
}

.active .tab-title {
    color: #7289DA;
}

.profile-tweets-container {
    max-width: 600px;
    margin-bottom: 50px;
    /* add margin because of the bottom nav bar */
    display: block;
    position: relative;
    align-items: stretch;
    background-color: #2C2F33;
}

.tweet {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-basis: auto;
    align-items: stretch;
    overflow: hidden;
    padding: 20px;
    border-bottom: 1px solid #808080;
}

.tweet-profile-pic {
    cursor: pointer;
    position: absolute;
    display: inline-block;
    overflow: hidden;
    width: 40px;
    height: 40px;
    margin-right: 15px;
}

.tweet-profile-pic img {
    position: absolute;
    width: 100%;
    height: auto;
    border-radius: 50%;
    inset: 0;
}

.tweet-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 50px;
}

.tweet-name-time {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-bottom: 5px;
}

.tweet-name-time span {
    position: relative;
    display: inline-block;
    line-height: 20px;
    margin-right: 5px;
}

.name {
    font-weight: 600;
    letter-spacing: 0.05em;
}

.hashtag, .separator, .date-sent {
    color: #808080;
}

.tweet-text {
    position: relative;
    display: block;
    margin-bottom: 10px;
}

.tweet-pic {
    margin-bottom: 10px;
}

.tweet-pic img {
    border-radius: 15px;
    width: 100%;
    height: auto;
}

.tweet-interact {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: 5px 0;
}

.interaction {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 2px 5px;
    margin-right: 10px;
    border-radius: 5px;
    background-color: #4b4b4b8e;
}

.clicked {
    background-color: #7289da4b;
}

.clicked .interact-number {
    color: #7289da;
}

.interaction img {
    margin-right: 5px;
    display: inline-block;
    position: relative;
}

.interaction span {
    display: inline-block;
    font-size: 13px;
    color: #dadada;
}

.quote-tweet {
    position: relative;
    margin: 10px 0;
}

.quote-tweet-content {
    position: relative;
    border-radius: 15px;
    border: 1px solid #4b4b4b;
    padding: 10px;
}

.quote-prof-pic-tweet-name-time {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.quote-prof-pic-tweet-name-time img {
    height: 1.5em;
    margin-right: 5px;
}

.quote-prof-pic-tweet-name-time span {
    position: relative;
    display: inline-block;
    line-height: 20px;
    margin-right: 5px;
}

.nav-bar-bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50px;
    padding: 0 10px;
    clear: both;
    background-color: #23272A;
}

.nav-bar-bottom a {
    display: inline-flex;
    margin: auto;
}

.nav-bar-bottom a img {
    display: block;
    padding: 10px;
}